**/.classpath
**/.dockerignore
**/.env*
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/state.json
**/state.json.*
**/media/*.original
**/media/*.original.part
**/media/*.verification
**/media/*.verification.part
**/secrets.dev.yaml
**/values.dev.yaml
**/TestResults
ImmichFamilyMerger.Tests
README.md
!**/.gitignore
